.features {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/SolarInstallation.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding: 22rem 0;
}

.features h2 {
  font-size: 3rem;
}
.features p {
  font-size: 1.5rem;
}

.contain {
  width: 80%;
  margin: 0 auto;
}

.w3-panel {
  text-align: center;
  color: rgb(88, 88, 180);
}

#plans {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  gap: 2rem;
}

.project-card {
  display: flex;
}
